<div class="tile" itemscope itemtype="http://schema.org/Product">
<div class="tile-title"><a href="{{ item.link }}" target="_blank"><span itemprop="name">{{item.title}}</span></a></div>
<div class="tile-img"><a href="{{ item.link }}" target="_blank"><img src="{{ item.image|thumbnail('tileimg') }}" itemprop="image" alt="{{item.img_descr}}"></a></div>
    <div class="tile-content" itemprop="description">{{ item.content }}</div>
    <div class="tile-footer"><a href="{{ item.link }}" target="_blank" rel="nofollow">{{ l('details') }}</a>
    </div>
</div>