<div class="tile" itemscope itemtype="http://schema.org/Product">
<div class="tile-title"><a href="{{ item.link }}"><span itemprop="name">{{item.title}}</span></a></div>
<div class="tile-img"><a href="{{ item.link }}"><img src="{% if item.image %} {{ item.image | thumbnail('tileimg') }} {% else %} {{ asset('images/default.png', 'theme') }} {% endif %}" itemprop="image" alt="{{item.values.image.alt}}" title="{{item.values.image.title}}"></a></div>
    <div class="tile-content" itemprop="description">{{ item.teaser }}</div>
    <div class="tile-footer"><a href="{{ item.link }}">{{ l('show-more') }}</a>
    </div>
</div>
