{% extends 'partials/_master.twig' %}

{% block main %}
<div class="twocols"  itemscope itemtype="http://schema.org/Product">
    <div class="item-content">
        <h1 itemprop="name">{{record.title}}</h1>
        {% if record.banner %}
            <div class="item-banner"><img src=" {{ record.banner|thumbnail('itembanner') }}" alt="{{record.values.banner.title}}" title="{{record.values.banner.title}}"></div>
        {% endif %}
        <div class="item-review">{{ record.review }}</div>
    </div>
    <div class="item-meta">
        <img src="{% if record.image %} {{ record.image | thumbnail('itemimg') }} {% else %} {{ asset('images/default.png', 'theme') }} {% endif %}" itemprop="image" alt="{{record.values.image.alt}}" title="{{record.values.image.title}}">
        <div class="item-description" itemprop="description">{{ record.content }}</div>
        {% if record.taxonomy.tags is defined %}
        <div class="tags">
            {% for tag in record.taxonomy.tags %}
            <a href="/tags/{{ tag }}">{{tag}}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="item-buy"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span class="item-price" itemprop="price">{{ record.price }} {{ record.currency }}</span>        
            <a href="{{ record.affiliatelink }}" target="_blank" rel="nofollow" onClick="ga('send', 'event', 'Affiliate Link', 'Click on button', '{{record.affiliatelink}}');">{{ l('get-it') }}</a>
        </div>
    </div>
</div>

{% if config.get('theme/related_content')==true %}
    {% include 'partials/_related_content.twig' %}
{% endif %}

{% endblock main %}
